*
{
margin: 0%;
padding: 0%;
box-sizing: border-box;
}
#container
{
    height: 100vh;
    width: 100vw;
    background-color: rgb(90, 189, 156);
    display: flex;
    flex-direction: column;
    
}
.one
{
    flex: 2;
    background-color: rgb(76, 219, 171);
    display: flex;
    justify-content:center;
    align-items: center;
    
}
#two
{
    flex: 8;
    /* background-color:  black; */
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    
}
.show
{
    height: 50px;
    width: 350px;
    background-color: white;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
    padding: 5px;
  
}